.activity-card {
    padding: 20px;
    background-color: #f9f9f9; /* Light gray background */
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-around !important;
}