.accordion-button {
    background-color: #dee8f6 !important;
    font-size: 1.15rem;
    font-weight: 600;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: black;
}

.search-bar {
    position: relative;
}

.search-bar input[type="text"] {
    width: 100%;
    font-family:'Raleway';
    padding: 5px;
    padding-right: 40px;
    border-radius: 50px;
    border: 1px solid #ced4da;
    font-size: 24px;
    font-weight: 600px;
    color:#8B8888;
    text-align: center;
}

.search-bar .search-icon {
    position: absolute;
    right: 5%;
    top: 50%;
    font-size: 24px;
    transform: translateY(-50%);
    color: #495057;
    cursor: pointer;
}

@media only screen and (max-width: 750px) {
    .search-bar .search-icon {
        right: 7%;
    }
}